<!doctype html>
<html>
  <head>
    <title>Song Quiz</title>
  </head>
  <body>
    <h1>Here's a song tailored to you!</h1>
  </body>
  <form method = "POST">
    <h4>choose a genre:</h4>
    <br>
    <input type ="radio" name ="user_genre" value = "punk/rock">Punk / Rock<br>
    <input type ="radio" name ="user_genre" value = "pop">Pop<br>
    <input type ="radio" name ="user_genre" value = "alternative">Alternative<br>
    <input type ="radio" name ="user_genre" value = "soul">Soul<br>
    <h4>choose a topic:</h4>
    <br>
     <input type ="radio" name ="user_topic" value = "empowerment">Empowerment<br>
       <input type ="radio" name ="user_topic" value = "activism">Activism<br>
       <input type ="radio" name ="user_topic" value = "girl boss">Girl Boss<br>
       <input type ="radio" name ="user_topic" value = "self-love">Self-Love<br>
       <input type="submit" value = "give me a song!">
  </form>
  #we need an option for the pets (dog, cat)
  #we need another option for type of hat (party hat, top hat, cowboy hat)
</html>